/_minted-*
*.bbl
*.tex
/*.agdai
/three_minutes.pdf
*.aux
*.blg
*.elc
*.log
*.out
*.pyg
*.toc
/M-Set-generated.agda
/M-Set.agda
/ltximg/
/my-tikz-cats.sty
/rose-example.png
/thesis.glo
/thesis.ist
/thesis.lot
/thesis.bcf
/thesis.ptc
/thesis.run.xml
